{% extends 'base.html'%} {% load static %} {% load static %} {% block mycss%}
<link rel="stylesheet" href="{% static 'mainapp/main.css'%}" />
{% endblock %} {% block content %}
<h1 class="mai">sdfsdf</h1>

<ul>
	<li class="text-blue-100">sdf</li>
	<li class="text-blue-200">sdf</li>
	<li class="text-blue-300">sdf</li>
	<li class="text-blue-400">sdf</li>
	<li class="text-blue-800">sdf</li>
	<li class="text-blue-600">sdf</li>
	<li class="text-blue-900">sdf</li>
</ul>
<form action="" method="get">
	<input type="button" value="sdf" />
	<input type="text" name="sdf" id="" />
</form>

{{block.super }} {% endblock content %}

<h1>sdfsdf</h1>
